// Primary Colors
$primary-color-blanc: #FFFFFF;
$primary-color-noir: #030212;
$primary-color-bleu: var(--primary-bleu);
$primary-color-bronze: var(--primary-bronze);

// Secondary Colors
$secondary-color-rouge: var(--semantic-rouge);
$secondary-color-rouge-erreur: #FEE9E8;

$secondary-color-gris-fonce: #c0c0c0;
$secondary-color-gris-clair: #EFEFEF;

$secondary-color-jaune: var(--semantic-jaune);
$secondary-color-creme: #F9E7CF;
$secondary-color-marron: #8B5A2B;

$secondary-color-rose-claire: #FFF7F1;
$secondary-color-bleu-clair: #F7F7FB;
$secondary-color-blanc-casse: #F9F6F3;
$secondary-color-marron-clair: #FFF2E9;
$secondary-color-bronze-clair: #E6A96E;
$secondary-color-orange-clair: #E5D5C5;

$secondary-color-etoile: #ffc107;
$secondary-color-erreur: #721c24;
$secondary-color-bordure: #FFFFFF;

$secondary-color-bleu-clair: #F0F4F8;
$secondary-color-vert-succes: var(--semantic-success);
$secondary-color-vert-succes-fond: var(--semantic-success-bg);
$secondary-color-vert-fond: #D4EDDA;
$secondary-color-jaune-avertissement: #856404;
$secondary-color-jaune-fond: #FFF3CD;
$secondary-color-bleu-info: var(--semantic-info);
$secondary-color-bleu-info-fond: #D1ECF1;
$secondary-color-promotion: #e4e4f5;

// Font Families
$font-family-primaire: 'Baloo', sans-serif;
$font-family-secondaire: 'Quicksand', sans-serif;

// Border
$border-radius-primary: 14px;
$border-radius-mini: 4px;

// Breakpoints
$breakpoint-mobile: 508px;
$breakpoint-tablette: 1024px;

// Medias
$mobile: "screen and (max-width: 508px)";

// Coté vendeur
$vendeur-padding-button: 10px 20px;
$vendeur-padding-main: 32px 40px;

* {
    margin: 0;
}

:root {
    --primary-bleu: #7171A3;
    --primary-bronze: #CD7F32;
    
    --semantic-success: #155724;
    --semantic-success-bg: #28A745;
    --semantic-rouge: #D4183D;
    --semantic-jaune: #DDCA00;
    --semantic-info: #0C5460;
}

// --- MODE PROTANOPIE / DEUTÉRANOPIE (Le plus commun : Vert/Rouge) ---
[data-theme="dalto-red-green"] {
    --semantic-success: #005AB5; 
    --semantic-success-bg: #0072B2;
    
    // Le rouge devient un orange vermillon très contrasté
    --semantic-rouge: #D55E00;
    
    // Le jaune devient un jaune très clair ou crème pour trancher
    --semantic-jaune: #F0E442;
}

// --- MODE TRITANOPIE (Rare : Bleu/Jaune) ---
[data-theme="dalto-blue-yellow"] {
    // Le bleu devient un vert bleuté
    --primary-bleu: #009E73;
    
    // Le jaune devient un rose/violet
    --semantic-jaune: #CC79A7;
}