// Primary Colors
$primary-color-blanc: #FFFFFF;
$primary-color-noir: #030212;
$primary-color-bleu: #7171A3;
$primary-color-bronze: #CD7F32;

// Secondary Colors
$secondary-color-rouge: #D4183D;

$secondary-color-gris-fonce: #c0c0c0;
$secondary-color-gris-clair: #EFEFEF;

$secondary-color-jaune: #DDCA00;
$secondary-color-rouge-erreur: #FEE9E8;
$secondary-color-creme: #F9E7CF;
$secondary-color-marron: #8B5A2B;

$secondary-color-rose-claire: #FFF7F1;
$secondary-color-bleu-clair: #F7F7FB;
$secondary-color-marron-clair: #FFF2E9;
$secondary-color-bronze-clair: #FBD4A0;

// Font Families
$font-family-primaire: 'Baloo', sans-serif;
$font-family-secondaire: 'Quicksand', sans-serif;

// Border
$border-radius-primary: 14px;

$breakpoint-tablette: 1024px;

$mobile : "screen and (max-width: 508px )" ;
