@use '_variable.scss' as *;

body {
    background-color: $primary-color-blanc;
    color: $primary-color-noir;
    font-family: $font-family-primaire;
}

.separator {
    width: $navbar-width;
    max-width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    margin: 0 auto;
}