@use '_variable.scss' as *;


html{
  font-family: $font-family-secondaire;
}

h1, h2, h3 {
  font-family: $font-family-primaire;
}


img, .unArticleP{
  border-radius: $border-radius-primary;
}

.articlesPrixP{
  display: flex;
}

button {
  border: none;
}

.unArticleP{
  border : 1px solid $primary-color-bleu;
  max-width: 960px;
  max-height: 240px;
  display: flex;
  padding: 12px 10px;
  margin-bottom: 20px;

  .imageArticleP{
    width: 280px;
    height: 190px;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .articleDetailP{
    max-width: 648px;
    margin-left: 15px;
  }

  .basArticleP{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 33px;

    p {
      color : $primary-color-bleu;
      font-weight: bold;
    }

    button { //les boutons + et - pour la quantite
      width: 30px;
      height: 30px;
      border-radius: $border-radius-mini;
    }

    input {
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: $border-radius-mini;
      border-color: $secondary-color-gris-fonce;
    }
  }
}

.recapCommande{
  background-color: $secondary-color-gris-clair;
  border-radius: $border-radius-primary;
  width: 383px;
  height: fit-content; //pour que le block s'adapte a son contenu et ne déborde pas
  padding: 20px;
  position:fixed;
  right: 10px;
  
  // juste pour centrer le bouton le reste du contenu sera replacé apres
  display: flex;
  flex-direction: column;
  align-items: center; 

  .recapTete, .recapTotal {
    width: 100%;
  }

  .recapTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button{
    background-color: $primary-color-noir;
    border-radius: 999px;
    color: $primary-color-blanc;
    width: 343px; //bloqué sa largeur a 343
    height: 49px;
    border: none;
    margin-top: 10px; 
  }
}

