<!-- Pied de page -->
<footer>
	<div>
		<!-- Liens vers les réseaux sociaux -->
		<div>
			<a href="#"><img src="/img/svg/facebook-blank.svg" style="filter: invert(1);"></a>
			<a href="#"><img src="/img/svg/linkedin-blank.svg" style="filter: invert(1);"></a>
			<a href="#"><img src="/img/svg/youtube-blank.svg" style="filter: invert(1);"></a>
			<a href="#"><img src="/img/svg/instagram-blank.svg" style="filter: invert(1);"></a>
			<a href="#"><img src="/img/svg/tiktok-blank.svg" style="filter: invert(1);"></a>
			<a href="#"><img src="/img/svg/pinterest-blank.svg" style="filter: invert(1);"></a>
		</div>

		<!-- Navigation du pied de page -->
		<nav>
			<section>
				<h4>Alizon</h4>
				<ul>
					<li><a href="#">À propos</a></li>
					<li><a href="#">Carrières</a></li>
					<li><a href="#">Investisseurs</a></li>
					<li><a href="#">Presse et médias</a></li>
					<li><a href="#">Partenaires</a></li>
					<li><a href="#">Affiliés</a></li>
					<li><a href="/pages/Mentions_Legales/index.php">Mentions légales</a></li>
					<li><a href="#">Statut du service</a></li>
				</ul>
			</section>

			<section>
				<h4>Produits</h4>
				<ul>
					<li><a href="#">Shop</a></li>
					<li><a href="#">Shop Pay</a></li>
					<li><a href="#">Alizon Plus</a></li>
					<li><a href="#">Alizon pour les entreprises</a></li>
				</ul>
			</section>

			<section>
				<h4>Développeurs</h4>
				<ul>
					<li><a href="#">Alizon.dev</a></li>
					<li><a href="#">Documentation API</a></li>
					<li><a href="#">Dev Degree</a></li>
				</ul>
			</section>

			<section>
				<h4>Assistance</h4>
				<ul>
					<li><a href="#">Assistance aux marchands</a></li>
					<li><a href="#">Centre d'aide de Alizon</a></li>
					<li><a href="#">Faire appel à un partenaire</a></li>
					<li><a href="#">Alizon Academy</a></li>
					<li><a href="#">Communauté Alizon</a></li>
				</ul>
			</section>

			<section>
				<h4>Solutions</h4>
				<ul>
					<li><a href="#">Éditeur de boutique en ligne</a></li>
					<li><a href="#">Outil de création de site web</a></li>
				</ul>
			</section>
		</nav>

		<!-- Informations légales -->
		<div>
			<span><a href="/pages/CGU/index.php">Conditions d'utilisation</a></span>
			<span>© Copyright Les Babies - All right reserved</span>
			<span><a href="/pages/CGV/index.php">Condition de ventes</a></span>
		</div>
	</div>
</footer>