@use "../variable" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-secondaire;
  background: $secondary-color-rose-claire;
  width: 1440px;
}

.app {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 1024px;
  background: $primary-color-blanc;
}

.main {
  background: $secondary-color-rose-claire;
  padding: 32px 40px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  height: 1024px;
}

.header__title {
  font-size: 24px;
  font-weight: 700;
  color: $primary-color-noir;
}

.profil-card {
  background: $primary-color-blanc;
  border-radius: $border-radius-primary;
  border: 1px solid $secondary-color-orange-clair;
  padding: 32px;
  max-width: 1000px;  
  width: 100%;       
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin-top: 10px;

  &__title {
    font-family: $font-family-primaire;
    font-size: 22px;
    font-weight: 700;
    color: $primary-color-bronze;
    margin-bottom: 24px;
    text-align: center;
  }
}

.profil-details {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 25px 100px;
  margin-left: 150px;
  font-size: 20px;
  color: $primary-color-noir;

  dt {
    font-weight: 600;
  }

  dd {
    font-weight: 400;
  }
}

.profil-actions {
  margin-top: 32px;
  text-align: center;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: $border-radius-primary;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;

  &--primary {
    background: $primary-color-bronze;
    color: $primary-color-blanc;
    transition: background-color 0.3s;

    &:hover {
      background: rgba($secondary-color-bronze-clair, 0.9);
    }
  }

  .profil-photo {
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 25px auto;
  border: 3px solid $primary-color-bronze;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 130px;
    height: 130px;
    object-fit: cover;
  }
}

}
