@use "../variable" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: $font-family-primaire;
  background: $secondary-color-rose-claire;
}

.app {
  display: grid;
  grid-template-columns: 270px 1fr;
  height: 1024px;
  background: $primary-color-blanc;
}

.main {
  background: $secondary-color-rose-claire;
  padding: $vendeur-padding-main;
  overflow-y: auto;

  .header {
    margin-bottom: 30px;

    h1 {
      color: $primary-color-noir;
      font-size: 2rem;
    }
  }

  label {
    font-weight: 600;
  }

  .graphique-filtre {
    background-color: $primary-color-blanc;
    border-radius: $border-radius-primary;
    border: 1px solid $secondary-color-orange-clair;
    padding: 20px 24px;
  }

  select,
  input {
    padding: 8px 16px;
    font-size: 18px;
    border-radius: $border-radius-primary;
    background: $secondary-color-blanc-casse;
    border: 1px solid $secondary-color-orange-clair;

    &:hover {
      background: $secondary-color-rose-claire;
      border-color: $primary-color-bronze;
    }
  }

  #filre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;
  }

  canvas {
    border-bottom: 1px solid $secondary-color-orange-clair;
    padding: 30px 0;
  }

  #divSelectArticle {
    padding-top: 20px;
  }
}