@use '../_variable.scss' as *;


html {
  font-family: $font-family-secondaire;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: $font-family-primaire;
}


img,
.unArticleP {
  border-radius: $border-radius-primary;

  @media screen and (max-width: 428px) {
    border-radius: 8px;
  }
}

.articlesPrixP {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em;
}


button {
  border: none;
}

.unArticleP {
  border: 1px solid $primary-color-bleu;
  width: 960px;
  height: fit-content;
  display: flex;
  padding: 12px 10px;
  margin-bottom: 20px;

  @media screen and (max-width: 428px) {
    width: 374px;
    padding: 12px 10px;
  }

  .imageArticleP {
    width: 280px;
    height: 190px;
    overflow: hidden;

    @media screen and (max-width: 428px) {
      width: 100px;
      height: 100px;
      flex-shrink: 0; // empêche la réduction forcée
      min-width: 100px;
      max-width: 100px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @media screen and (max-width: 428px) {
      flex-shrink: 0;
      align-items: center;
    }
  }

  .articleDetailP {
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }

  .basArticleP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 33px;
    margin-top: auto;

    img {
      border-radius: 0px;
      width: 70%;
      height: 70%;
    }

    .quantite {
      display: flex;
      align-items: center;
      gap: 0.8em;
    }

    p {
      color: $primary-color-bleu;
      font-weight: bold;

      @media screen and (max-width: 428px) {
        margin-left: -6em;
        font-size: 1.15em;
      }
    }

    button {
      //les boutons + et - pour la quantite
      width: 35px;
      height: 35px;
      border-radius: $border-radius-mini;

    }

    input {
      width: 30px;
      height: 30px;
      text-align: center;
      border: 1px solid $secondary-color-gris-fonce;
      border-radius: $border-radius-mini;
    }
  }
}

.recapCommande {
  background-color: $secondary-color-gris-clair;
  border-radius: $border-radius-primary;
  width: 404px;
  max-width: 100%;
  padding: 20px;
  position: sticky;
  top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    position: static;
    width: 100%;
    max-width: 404px;
  }

  .recapTete,
  .recapTotal {
    width: 100%;
  }

  .recapTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background-color: $primary-color-noir;
    border-radius: 999px;
    color: $primary-color-blanc;
    width: 343px; //bloqué sa largeur a 343
    height: 49px;
    border: none;
    margin-top: 10px;
  }
}

#panierVide {
  width: 25%;
  display: block;
  margin: 0 auto 1em auto;

  img {
    width: 75%;
  }

  @media screen and (max-width: 428px) {
    width: 75%;
  }
}

#retourAchat {
  width: fit-content;
  display: block;
  margin: 0 auto;
  background-color: $primary-color-noir;
  border-radius: 999px;
  text-decoration: none;
  color: $primary-color-blanc;
  text-align: center;
  padding: 1em;
  margin: 1em auto;

  @media screen and (max-width: 428px) {
    margin: 3em auto;
  }
}