html {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Baloo", sans-serif;
}

img,
.unArticleP {
  border-radius: 14px;
}
@media screen and (max-width: 428px) {
  img,
  .unArticleP {
    border-radius: 8px;
  }
}

.articlesPrixP {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em;
}

button {
  border: none;
}

.unArticleP {
  border: 1px solid #7171A3;
  width: 960px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  padding: 12px 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 428px) {
  .unArticleP {
    width: 374px;
    padding: 12px 10px;
  }
}
.unArticleP .imageArticleP {
  width: 280px;
  height: 190px;
  overflow: hidden;
}
@media screen and (max-width: 428px) {
  .unArticleP .imageArticleP {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    min-width: 100px;
    max-width: 100px;
  }
}
.unArticleP img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 428px) {
  .unArticleP img {
    flex-shrink: 0;
    align-items: center;
  }
}
.unArticleP .articleDetailP {
  width: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.unArticleP .basArticleP {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 33px;
  margin-top: auto;
}
.unArticleP .basArticleP p {
  color: #7171A3;
  font-weight: bold;
}
@media screen and (max-width: 428px) {
  .unArticleP .basArticleP p {
    font-size: 1.3em;
  }
}
.unArticleP .basArticleP button {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}
.unArticleP .basArticleP input {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

.recapCommande {
  background-color: #EFEFEF;
  border-radius: 14px;
  width: 404px;
  max-width: 100%;
  padding: 20px;
  position: sticky;
  top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .recapCommande {
    position: static;
    width: 100%;
    max-width: 404px;
  }
}
.recapCommande .recapTete,
.recapCommande .recapTotal {
  width: 100%;
}
.recapCommande .recapTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recapCommande button {
  background-color: #030212;
  border-radius: 999px;
  color: #FFFFFF;
  width: 343px;
  height: 49px;
  border: none;
  margin-top: 10px;
}

#panierVide {
  width: 25%;
  display: block;
  margin: 0 auto 1em auto;
}
@media screen and (max-width: 768px) {
  #panierVide {
    width: 75%;
  }
}

#retourAchat {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 0 auto;
  background-color: #030212;
  border-radius: 999px;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
  margin: 1em auto;
}
@media screen and (max-width: 768px) {
  #retourAchat {
    margin: 3em auto;
  }
}/*# sourceMappingURL=stylesPanier.css.map */