<header class="site-header" role="banner">
	<div class="header-inner">
		<div class="logo-container">
			<a href="/" class="brand">
				<img src="/src/img/svg/logo-text.svg" alt="Alizon" class="logo" />
			</a>
		</div>

            <div class="search-container">
                <img src="/src/img/svg/loupe.svg" alt="Loupe de recherche" class="fas fa-shopping-cart icon">
                <input type="text" placeholder="Rechercher des produits..." class="search-input">
            </div>

            <div class="icons-container">
                <a href="#" class="icon-link">
                    <img src="/src/img/svg/profile.svg" alt="Profile" class="fas fa-shopping-cart icon">
                </a>
                <a href="#" class="icon-link">
                    <img src="/src/img/svg/panier.svg" alt="Panier" class="fas fa-shopping-cart icon">
                </a>
            </div>
        </header>

        <div class="separator"></div>

    </body>
</html>