@import "../_variable.scss";

html {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, $primary-color-bleu 0%, $primary-color-noir 100%);
    font-family: $font-family-secondaire;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

img {
    border-radius: $border-radius-mini;
}

h1,
h2,
h3,
label {
    font-family: $font-family-primaire;
}

label {
    font-size: 1.2em;
}

h2 {
    font-size: 19px;
}

a {
    text-decoration: none;
    color: $primary-color-blanc;
    font-size: 1.4rem;
}

.infoPaiement {
    background-color: $primary-color-blanc;
    border-radius: $border-radius-primary;
    width: 460px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 428px) {
        max-width: 330px;
        margin: 1em auto;
    }

    a {
        color: $primary-color-noir;
    }

    p {
        background-color: $secondary-color-rouge-erreur;
        color: $secondary-color-rouge;
        margin-top: 0.5em;
        padding: 0.7em;
        border-radius: $border-radius-primary;
    }

    h2 {
        display: flex;
        align-items: center;
        font-size: 1.5rem;

        img {
            width: 32px;
        }
    }

    /* Input par défaut */
    input[type="text"], input[type="number"] {
        height: 45px;
        border: 1px $secondary-color-gris-fonce solid;
        border-radius: $border-radius-primary;
        width: 100%;
        margin: 0.5em 0 1.5em 0;
        font-size: 1.13em;
    }

    //date + CVC 
    .dateCode {
        display: grid;
        grid-template-columns: 1fr 1fr; //partage la largeur en 2
        gap: 15px;
    }

    //Checkboxe
    .checkBox {
        display: flex;
        flex-direction: column;

        input[type="checkbox"] {
            accent-color: $primary-color-bleu;
            cursor: pointer;
            height: 1.4em;
            width: 1.4em;
        }
    }

    //bouton payer
    button {
        width: 100%;
        margin-top: 0.5em;
        padding: 0.6em;
        background: $primary-color-noir;
        color: $primary-color-blanc;
        border: none;
        border-radius: $border-radius-primary;
        font-size: 1.3rem;
        cursor: pointer;
        text-align: center;

        &:hover {
            background-color: $primary-color-bleu;
        }
    }

    select {
        background-color: white;
        font-size: 1.2em;
        border: 1px solid $secondary-color-gris-fonce ;
        border-radius: $border-radius-primary;
        height: 45px;
        width: 100%;
        margin: 1em 0;
    }
}